/*=====Import des polices nécessaires et Paramétrages généraux=====*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #0065fc;
    --light-blue: #deebff;
    --grey: #f2f2f2;
    --bordernav: #c9c9c9;
}

body {
    font-family: Raleway, Roboto, Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

/*=====Desktop version (Standard version)=====*/

/******Header - Navbar******/

nav {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    padding: 0 3rem 2rem 3rem;
}

.logo {
    padding: 1.5rem 0 0 0;
}

.navLink {
    padding: 2.5rem 2rem 0 2rem;
    font-weight: 600;
    text-align: center;
    border-top: 2px solid #ffffff00;
}

.navLink:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

.suscribeLink {    
    color: var(--blue);
    padding: 2.6rem 2rem 0 2rem;
}

/******End of Header - Navbar******/

/******Search Zone******/

.searchZone {
    padding-left: 3rem;
    padding-right: 3rem;
}

.searchZone > h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: .4rem;
}

/*-----Form bar-----*/

.localisation {
    display: flex;
    padding: .5rem 0 2rem 0;
}

.geoIcon {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 13px 0 0 13px;
}

.geoIcon:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    cursor: pointer;
}

.cityInput {
    font-weight: bold;
    color: black;
    border: 1px solid var(--grey);
    height: 3rem;
    width: 12rem;
    padding-left: .7rem;
}

.searchText {
    height: 3rem;
    width: 8rem;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 13px 13px 0;
    padding-left: .7rem;
    padding-right: .7rem;
}

.searchText:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    cursor: pointer;
}

.searchIcon {
    display: none;
}

/*-----End of Form bar-----*/

/*-----Filters buttons-----*/

.filters {
    display: flex;
    align-items: center;
}

.filterButtonsContainer {
    display: flex;
}

.filterButton {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: white;
    border: .2rem solid var(--grey);
    border-radius: 3rem;
    color: black;
    font-weight: bold;
    margin: 0 0 0 2rem;
    padding: 0 1rem 0 0;
}

.filterButton:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    border: .2rem solid var(--light-blue);
    cursor: pointer;
}

.filterCircleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--light-blue);
    border-radius: 3rem;
    color: var(--blue);
    margin-right: 1rem;
    margin-left: -.7rem;
}

.filterText {
    font-weight: bold;
}

.infoCircleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 3rem;
    color: var(--blue);
    margin-right: 1rem;
}

.resultsInfo {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

/*-----End of Filters buttons-----*/

/******End of Search Zone******/

/******Results Zone******/

.results {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
}

/*-----Lodgings Results-----*/

.heb {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2.5rem;
}

.lightNoteIcon {
    color: var(--blue);
    margin-right: -.1rem;
}

.darkNoteIcon {
    color: var(--grey);
    margin-right: -.1rem;
}

/*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

.hebResults {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
}

.hebCardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 0 1rem 0;
}

.hebCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
}

.hebCard:hover {
    background-color: var(--light-blue);
    border: 3px solid var(--light-blue);
}

.hebCardPicture {
    height: 7.2rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.hebCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5rem;
    padding: .5rem .5rem 0 .5rem;
}

.hebCardTitle {
    margin: 0;
}

.hebNoteIcons {
    padding: .2rem 0 .5rem .5rem;
}

.moreLink {
    font-weight: bold;
    padding: 1.5rem 0 0 0;
}

.hebCardPicture1 {
    object-position: top;
}

.hebCardPicture2 {
    object-position: 0% 65%;
}

.hebCardPicture3 {
    object-position: 0% 75%;
}

.hebCardPicture4 {
    object-position: 0% 70%;
}

.hebCardPicture5 {
    object-position: top;
}

.hebCardPicture6 {
    object-position: 0% 60%;
}

/*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

/*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

.hebPop {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 0 2rem 2rem 2rem;
}

.hebPopTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hebPopCardGroup {
    display: grid;
    grid-template-columns: auto;
    row-gap: 2rem;
}

.hebPopCard {
    min-height: 9rem;
    max-height: 9rem;
    display: flex;
    background-color: white;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
}

.hebPopCard:hover {
    background-color: var(--light-blue);
    border: 3px solid var(--light-blue);
}

.hebPopCardPicture {
    height: auto;
    width: 7.9rem;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

.hebPopCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem .5rem .5rem .9rem;
}

.hebPopCardText {
    display: flex;
    flex-direction: column;
}

.hebPopTarif {
    padding: .5rem 0 .5rem 0;
}

/*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

/*-----End of Lodgings Results-----*/

/*----Activities Results----*/

.act {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.actCardGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    padding: 0 0 1.5rem 0;
}

.actCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
}

.actCard:hover {
    background-color: var(--light-blue);
}

.actCardPicture {
    min-height: 0;
    min-width: 0;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.actCardTitle {
    flex: 1 1 3rem;
    vertical-align: auto;
    padding: 0rem 1rem;
    margin: 0;
}

.actCard1 {
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
}

.actCard2 {
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
}

.actCard3 {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.actCard4 {
    grid-column: 3 / 3;
    grid-row: 1 / span 3;
}

.actCard5 {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.actCard6 {
    grid-column: 4 / 4;
    grid-row: 2 / span 2;
}

.actCardPicture1 {
    flex: 1 1 26rem;
    object-position: 50% 0%;
}

.actCardPicture2 {
    flex: 1 1 13rem;
    object-position: 0% 45%;
}

.actCardPicture3 {
    flex: 1 1 8rem;
    object-position: 0% 20%;
}

.actCardPicture4 {
    flex: 1 1 26rem;
    object-position: 60% 30%;
}

.actCardPicture5 {
    flex: 1 1 8rem;
    object-position: 0% 15%;
}

.actCardPicture6 {
    flex: 1 1 13rem;
    object-position: 0% 35%;
}

/*----End of Activities Results----*/

/******End of Results Zone******/

/******Footer - Various links******/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--grey);
    padding: 1rem 3rem 2rem 3rem;
}

.colFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

/******End of Footer - Various links******/

/*=====End of Desktop version=====*/



/*=====Tab version=====*/

@media screen and (min-width: 800px) and (max-width: 1280px) {

    h1 {
        font-size: 1.3rem;
        padding-top: 2rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    h3 {
        font-size: .85rem;
        font-weight: bold;
    }    

    /******Header - Navbar******/

    nav {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .logo {
        padding: 2rem 0 0 2rem;
    }

    .navLink {
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
    }

    .navLinkHeb {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .navLinkAct {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .navLinkHeb:hover {
        color: var(--blue);
        border-top: none;
        padding-bottom: 21px;
        border-bottom: 2px solid var(--blue);
    }

    .navLinkAct:hover {
        color: var(--blue);
        border-top: none;
        padding-bottom: 21px;
        border-bottom: 2px solid var(--blue);
    }

    .suscribeLink {
        text-align: right;
    }

    /******End of Header - Navbar******/

    /******Search Zone******/

    .searchZone {
        padding: 0 2rem;
    }

    /*-----Filters buttons-----*/

    .filters {
        align-items: flex-start;
    }

    .filterButtonsContainer {
        flex-wrap: wrap;
    }

    .filterButton {
        margin: 0 0 1.5rem 2rem;
    }

    .resultsInfo {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;
    }

    /*-----End of Filters buttons-----*/

    /******End of Search Zone******/

    /******Results Zone******/

    .results {
        padding: 0 .2rem;
    }

    /*-----Lodgings Results-----*/

    .heb {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

    .hebResults {
        grid-row-start: 2;
        padding: 0 .2rem;
    }

    .hebCardGroup {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: .8rem;
        row-gap: 1rem;
    }

    .hebCardPicture {
        height: 9rem;
    }
    .moreLink {
        padding: 1rem 0 1.5rem 1rem;
    }

    /*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

    /*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

    .hebPop {
        grid-column-start: 1;
        padding: 0 .2rem 2rem .2rem;
    }

    .hebPopCardGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: .5rem;
    }

    .hebPopCard {
        min-height: 13rem;
        max-height: 13rem;
        flex-direction: column;
        padding: 0;
    }

    .hebPopCardPicture {
        height: 7.9rem;
        width: auto;
        border-radius: 1rem 1rem 0 0;
    }

    .hebPopCardInfo {
        padding: .5rem .3rem 0 .3rem;
    }
    
    .hebPopCardText {
        justify-content: space-between;
    }
    
    .hebPopCardTitle {
        margin: 0;
    }
    
    .hebPopTarif {
        margin: 0;
        padding: .5rem 0 .5rem 0;
    }
    
    .hebPopNoteIcons {
        margin: 0;
        vertical-align: bottom;
    }

    .hebPopCardPicture1 {
        object-position: 0% 70%;
    }
    
    .hebPopCardPicture2 {
        object-position: 0% 65%;
    }
    
    .hebPopCardPicture3 {
        object-position: 0% 60%;
    }

    /*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

    /*-----End of Lodgings Results-----*/

    /*----Activities Results----*/

    .act {
        display: flex;
        flex-direction: column;
        padding: 1rem .5rem;
    }

    .actCardGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    
    .actCard {
        height: 16rem;
    }

    .actCardPicture {
        min-height: 13rem;
        max-height: 13rem;
    }

    .actCard1 {
        grid-column-start: 1 / 1;
        grid-row: 1 / 1;
    }

    .actCard2 {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .actCard3 {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .actCard4 {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .actCard5 {
        grid-column: 3 / 3;
        grid-row: 1 / 1;
    }

    .actCard6 {
        grid-column: 3 / 3;
        grid-row: 2 / 2;
    }

    /*----End of Activities Results----*/

    /******End of Results Zone******/

    /******Footer - Various links******/

    footer {
        padding: 1rem 2rem 2rem 2rem;
        line-height: 1.8rem;
        font-size: .8rem;
        column-gap: 5rem;
    }

    /******End of Footer - Various links******/
}

/*=====End of Tab version=====*/

/*=====Smartphone version=====*/

@media screen and (max-width: 799px) {
    h1 {
        padding-top: 2rem;
    }

    /******Header - Navbar******/

    nav {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .logo {
        padding: 2rem 0 0 2rem;
    }

    .navLink {
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
    }

    .navLinkHeb {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .navLinkAct {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .navLinkHeb:hover {
        color: var(--blue);
        border-top: none;
        padding-bottom: 21px;
        border-bottom: 2px solid var(--blue);
    }

    .navLinkAct:hover {
        color: var(--blue);
        border-top: none;
        padding-bottom: 21px;
        border-bottom: 2px solid var(--blue);
    }

    .suscribeLink {
        text-align: right;
    }

    /******End of Header - Navbar******/

    /******Search Zone******/

    .searchZone {
        padding: 0 2rem 0 2rem;
    }

    /*-----Form bar-----*/

    .localisation {
        padding: .5rem 0 .3rem 0;
    }

    .geoIcon {
        width: 10vw;
    }

    .searchText {
        display: none;
    }
    
    .cityInput {
        width: 64vw;
    }
    
    .searchIcon {
        display: initial;
        height: 3rem;
        width: 10vw;
        background-color: var(--blue);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        padding-left: .7rem;
        padding-right: .7rem;
        margin-left: -.5rem;
    }

    .searchIcon:hover {
        background-color: var(--light-blue);
        color: var(--blue);
        cursor: pointer;
    }

    /*-----End of Form bar-----*/

    /*-----Filters buttons-----*/

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filterButtonsContainer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .filterButton {
        display: flex;
        align-items: center;
        height: 3rem;
        background-color: white;
        border: .2rem solid var(--grey);
        border-radius: 3rem;
        color: black;
        font-weight: bold;
        margin: 0 1rem 1rem 1rem;
    }

    .infoCircleIcon {
        width: 2rem;
    }

    /*-----End of Filters buttons-----*/

    /******End of Search Zone******/

    /******Results Zone******/

    .results {
        padding: 0;
    }

    /*-----Lodgings Results-----*/

    .heb {
        grid-template-columns: auto;
        column-gap: 0rem;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

    .hebResults {
        grid-row-start: 2;
        row-gap: 1rem;
        background-color: white;
        border-radius: 0;
        padding: 0 2rem 0 2rem;
    }

    .hebCardGroup {
        grid-template-columns: 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 0 0 .5rem 0;
    }

    .moreLink {
        padding: 0 0 1rem 0;
    }

    /*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

    /*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

    .hebPop {
        grid-column-start: 1;
        grid-row-start: 1;
        border-radius: 0;
    }

    .hebPopTitle {
        padding: .5rem 0;
    }

    .hebPopCardGroup {
        padding: 0;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

    /*-----End of Lodgings Results-----*/

    /*----Activities Results----*/

    .act {
        padding: 1rem 2rem;
    }

    .actCardGroup {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 1.5rem;
        padding: 0 0;
    }

    .actCard {
        height: 13rem;
    }

    .actCard1 {
        grid-column: 1 /1;
        grid-row: 1 / 1;
    }
    
    .actCard2 {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    
    .actCard3 {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    
    .actCard4 {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .actCard5 {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }
    
    .actCard6 {
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }

    .actCardPicture1 {
        flex: 1 1 9rem;
        object-position: 50% 40%;
    }
    
    .actCardPicture2 {
        flex: 1 1 9rem;
        object-position: 0% 45%;
    }
    
    .actCardPicture3 {
        flex: 1 1 9rem;
        object-position: 0% 20%;
    }
    
    .actCardPicture4 {
        flex: 1 1 9rem;
        object-position: 60% 30%;
    }
    
    .actCardPicture5 {
        flex: 1 1 9rem;
        object-position: 0% 15%;
    }
    
    .actCardPicture6 {
        flex: 1 1 9rem;
        object-position: 0% 35%;
    }

    /*----End of Activities Results----*/

    /******End of Results Zone******/

    /******Footer - Various links******/

    footer {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    /******End of Footer - Various links******/
}

/*=====End of Smartphone version=====*/