/*=====Import des polices nécessaires et Paramétrages généraux=====*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue: #0065fc;
    --light-blue: #deebff;
    --grey: #f2f2f2;
    --bordernav: #c9c9c9;
}

body {
    font-family: Raleway, Roboto, Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

/*=====Desktop version (Standard version)=====*/

/******Header - Navbar******/

nav {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    padding: 0 3rem 2rem 3rem;
}

.logo {
    padding: 1.5rem 0 0 0;
}

.navLink {
    padding: 2.5rem 2rem 0 2rem;
    font-weight: 600;
    text-align: center;
    border-top: 2px solid #ffffff00;
}

.navLink:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

.suscribeLink {    
    color: var(--blue);
    padding: 2.6rem 2rem 0 2rem;
}

/******End of Header - Navbar******/

/******Search Zone******/

.searchZone {
    padding-left: 3rem;
    padding-right: 3rem;
}

.searchZone > h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: .4rem;
}

/*-----Form bar-----*/

.localisation {
    display: flex;
    padding: .5rem 0 2rem 0;
}

.geoIcon {
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 13px 0 0 13px;
}

.geoIcon:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    cursor: pointer;
}

.cityInput {
    font-weight: bold;
    color: black;
    border: 1px solid var(--grey);
    height: 2.5rem;
    width: 15rem;
    padding-left: .7rem;
}

.searchText {
    height: 2.5rem;
    width: 8.4rem;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 13px 13px 0;
    padding-left: .7rem;
    padding-right: .7rem;
}

.searchText:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    cursor: pointer;
}

.searchIcon {
    display: none;
}

/*-----End of Form bar-----*/

/*-----Filters buttons-----*/

.filters {
    display: flex;
    align-items: center;
}

.filterButtonsContainer {
    display: flex;
}

.filterButton {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: white;
    border: .2rem solid var(--grey);
    border-radius: 3rem;
    color: black;
    font-weight: bold;
    margin: 0 0 0 2rem;
    padding: 0 1rem 0 0;
}

.filterButton:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    border: .2rem solid var(--light-blue);
    cursor: pointer;
}

.filterCircleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--light-blue);
    border-radius: 3rem;
    color: var(--blue);
    margin-right: 1rem;
    margin-left: -1rem;
}

.filterText {
    font-weight: bold;
}

.infoCircleIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 3rem;
    color: var(--blue);
    margin-right: 1rem;
}

.resultsInfo {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

/*-----End of Filters buttons-----*/

/******End of Search Zone******/

/******Results Zone******/

.results {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
}

/*-----Lodgings Results-----*/

.heb {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.lightNoteIcon {
    color: var(--blue);
    margin-right: -.1rem;
}

.darkNoteIcon {
    color: var(--grey);
    margin-right: -.1rem;
}

/*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

.hebResults {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 0 2rem 0 2rem;
}

.hebCardGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
    padding: 0 0 1rem 0;
}

.hebCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
}

.hebCard:hover {
    background-color: var(--light-blue);
    border: 3px solid var(--light-blue);
}

.hebCardPicture {
    height: 7.2rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.hebCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5rem;
    padding: .5rem .5rem 0 .5rem;
}

.hebCardTitle {
    margin: 0;
}

.hebNoteIcons {
    padding: .2rem 0 .5rem .5rem;
}

.moreLink {
    font-weight: bold;
    padding: 1.5rem 0 0 0;
}

/*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

/*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

.hebPop {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 1rem;
    padding: 0 2rem 2rem 2rem;
}

.hebPopTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hebPopCardGroup {
    display: grid;
    grid-template-columns: auto;
    row-gap: 2rem;
}

.hebPopCard {
    min-height: 9rem;
    max-height: 9rem;
    display: flex;
    background-color: white;
    border-radius: 1rem;
    border: 3px solid white;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
}

.hebPopCard:hover {
    background-color: var(--light-blue);
    border: 3px solid var(--light-blue);
}

.hebPopCardPicture {
    height: auto;
    width: 7.9rem;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
}

.hebPopCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem .5rem .5rem .9rem;
}

.hebPopCardText {
    display: flex;
    flex-direction: column;
}

.hebPopCardTitle {
    margin: 0;
}

.hebPopTarif {
    padding-top: .5rem;
}

/*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

/*-----End of Lodgings Results-----*/

/*----Activities Results----*/

.act {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.actCardGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
    padding: 0 0 5rem 0;
}

.actCard {
    height: 100%;
    max-height: 29rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 .1rem .4rem .1rem var(--bordernav);
    padding: 0 0 3.5rem 0;
}

.actCard:hover {
    background-color: var(--light-blue);
}

.actCardPicture {
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.actCardTitle {
    vertical-align: middle;
    padding: 0 1rem .5rem 1rem;
}

.actCard1 {
    height: 27.5rem;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.actCard2 {
    height: 12rem;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.actCard3 {
    height: 10rem;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    align-self: flex-end;
}

.actCard4 {
    height: 27.5rem;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.actCard5 {
    height: 10rem;
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.actCard6 {
    height: 12rem;
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 3;
    align-self: flex-end;
}

/*----End of Activities Results----*/

/******End of Results Zone******/

/******Footer - Various links******/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--grey);
    padding: 1rem 3rem 2rem 3rem;
    line-height: 2rem;
}

/******End of Footer - Various links******/

/*=====End of Desktop version=====*/



/*=====Tab version=====*/

@media screen and (min-width: 800px) and (max-width: 1280px) {

    h1 {
        font-size: 1.3rem;
        padding-top: 2rem;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    h3 {
        font-size: .85rem;
        font-weight: bold;
    }    

    /******Header - Navbar******/

    nav {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .logo {
        padding: 2rem 0 0 2rem;
    }

    .navLinkHeb {
        grid-row-start: 2;
        grid-column-start: 1;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
        text-align: center;
    }

    .navLinkAct {
        grid-row-start: 2;
        grid-column-start: 2;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
        text-align: center;
    }

    .navLink:hover {
        border-top: none;
        font-weight: bold;
    }

    .navLinkHeb:hover {
        color: var(--blue);
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    .navLinkAct:hover {
        color: var(--blue);
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    .suscribeLink {
        text-align: right;
    }

    /******End of Header - Navbar******/

    /******Search Zone******/

    .searchZone {
        padding: 0 2rem;
    }

    /*-----Filters buttons-----*/

    .filters {
        align-items: flex-start;
    }

    .filterButtonsContainer {
        flex-wrap: wrap;
    }

    .filterButton {
        margin: 0 0 1.5rem 2rem;
    }

    .resultsInfo {
        display: flex;
        align-items: center;
        padding-top: 1.5rem;
    }

    /*-----End of Filters buttons-----*/

    /******End of Search Zone******/

    /******Results Zone******/

    .results {
        padding: 0 2rem;
    }

    /*-----Lodgings Results-----*/

    .heb {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

    .hebResults {
        grid-row-start: 2;
        padding: 0 1rem;
    }

    .hebCardGroup {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .hebCardPicture {
        height: 9rem;
    }
    .moreLink {
        padding: 1rem 0 1.5rem 0;
    }

    /*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

    /*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

    .hebPop {
        grid-column-start: 1;
    }

    .hebPopCardGroup {
        row-gap: 1rem;
    }

    .hebPopCard {
        min-height: 10rem;
        max-height: 10rem;
    }

    .hebPopCardPicture {
        height: auto;
        width: 12rem;
    }

    /*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

    /*-----End of Lodgings Results-----*/

    /*----Activities Results----*/

    .actCardGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        padding: 0 0 4rem 0;
    }
    
    .actCardTitle {
        vertical-align: middle;
        justify-self: stretch;
        align-self: stretch;
        padding: .4rem 1rem .5rem 1rem;
    }

    .actCard1 {
        height: 18rem;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .actCard2 {
        height: 14rem;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .actCard3 {
        height: 14rem;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: span 1;
        align-self: flex-end;
    }

    .actCard4 {
        height: 18rem;
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: span 2;
        align-self: flex-end;
    }

    .actCard5 {
        height: 10rem;
        grid-column: 1;
        grid-row-start: 3;
        grid-row-end: span 1;
        align-self: flex-end;
    }

    .actCard6 {
        height: 10rem;
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: span 1;
        align-self: flex-end;
    }

    /*----End of Activities Results----*/

    /******End of Results Zone******/

    /******Footer - Various links******/

    footer {
        padding: 1rem 2rem 2rem 2rem;
        line-height: 1.8rem;
        font-size: .8rem;
        column-gap: 5rem;
    }

    /******End of Footer - Various links******/
}

/*=====End of Tab version=====*/

/*=====Smartphone version=====*/

@media screen and (max-width: 799px) {
    h1 {
        padding-top: 2rem;
    }

    /******Header - Navbar******/

    nav {
        padding: 0;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .logo {
        padding: 2rem 0 0 2rem;
    }

    .navLinkHeb {
        grid-row-start: 2;
        grid-column-start: 1;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
        text-align: center;
    }

    .navLinkAct {
        grid-row-start: 2;
        grid-column-start: 2;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--bordernav);
        text-align: center;
    }

    .navLink:hover {
        border-top: none;
        font-weight: bold;
    }

    .navLinkHeb:hover {
        color: var(--blue);
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    .navLinkAct:hover {
        color: var(--blue);
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    .suscribeLink {
        text-align: right;
    }

    /******End of Header - Navbar******/

    /******Search Zone******/

    .searchZone {
        padding: 0 2rem 0 2rem;
    }

    /*-----Form bar-----*/

    .localisation {
        padding: .5rem 0 .3rem 0;
    }

    .geoIcon {
        width: 8vw;
    }

    .searchText {
        display: none;
    }
    
    .cityInput {
        width: 68vw;
    }
    
    .searchIcon {
        display: initial;
        height: 2.5rem;
        width: 9vw;
        background-color: var(--blue);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        padding-left: .7rem;
        padding-right: .7rem;
        margin-left: -.5rem;
    }

    .searchIcon:hover {
        background-color: var(--light-blue);
        color: var(--blue);
        cursor: pointer;
    }

    /*-----End of Form bar-----*/

    /*-----Filters buttons-----*/

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filterButtonsContainer {
        display: flex;
        flex-wrap: wrap;
    }
    
    .filterButton {
        display: flex;
        align-items: center;
        height: 3rem;
        background-color: white;
        border: .2rem solid var(--grey);
        border-radius: 3rem;
        color: black;
        font-weight: bold;
        margin: 0 1rem 1rem 1rem;
    }

    .infoCircleIcon {
        width: 2rem;
    }

    /*-----End of Filters buttons-----*/

    /******End of Search Zone******/

    /******Results Zone******/

    .results {
        padding: 0;
    }

    /*-----Lodgings Results-----*/

    .heb {
        grid-template-columns: auto;
        column-gap: 0rem;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤Main lodgings results¤¤¤¤¤*/

    .hebResults {
        grid-row-start: 2;
        row-gap: 1rem;
        background-color: white;
        border-radius: 0;
        padding: 0 2rem 0 2rem;
    }

    .hebCardGroup {
        grid-template-columns: 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 0 0 .5rem 0;
    }

    .moreLink {
        padding: 0 0 1rem 0;
    }

    /*¤¤¤¤¤End of Main lodgings results¤¤¤¤¤*/

    /*¤¤¤¤¤Popular lodgings results¤¤¤¤¤*/

    .hebPop {
        grid-column-start: 1;
        grid-row-start: 1;
        border-radius: 0;
    }

    .hebPopTitle {
        padding: .5rem 0;
    }

    .hebPopCardGroup {
        padding: 0;
        row-gap: 1rem;
    }

    /*¤¤¤¤¤End of Popular lodgings results¤¤¤¤¤*/

    /*-----End of Lodgings Results-----*/

    /*----Activities Results----*/

    .act {
        padding: 1rem 2rem;
    }

    .actCardGroup {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 15rem);
        column-gap: 0;
        row-gap: 1rem;
        padding: 0;
    }

    .actCard {
        height: 11rem;
    }

    .actCard1 {
        height: auto;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    
    .actCard2 {
        height: auto;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    
    .actCard3 {
        height: auto;
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: span 1;
        align-self: initial;
    }
    
    .actCard4 {
        height: auto;
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
    
    .actCard5 {
        height: 11rem;
        grid-column-start: 1;
        grid-row-start: 5;
        grid-row-end: span 1;
    }
    
    .actCard6 {
        height: 9rem;
        grid-column-start: 1;
        grid-row-start: 6;
        align-self: initial;
    }

    /*----End of Activities Results----*/

    /******End of Results Zone******/

    /******Footer - Various links******/

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 1rem 2rem 2rem 2rem;
    }

    /******End of Footer - Various links******/
}

/*=====End of Smartphone version=====*/